# Environment variables & secrets
.env
.env.*
!.env.example

# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
build/
.vercel/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & Editor
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
